<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>SNASS | Contact Us</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="css/owl.carousel.min.css">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="css/bootstrap-datepicker.min.css">
      <style>
         /* Style for the dropdown menu */
         .dropdown {
             position: relative;
             display: inline-block;
         }
         .dropdown-content {
             display: none;
             position: absolute;
             background-color: #f9f9f9;
             min-width: 160px;
             box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
             z-index: 1;
         }
         .dropdown:hover .dropdown-content {
             display: block;
         }
         /* Style for flip cards */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: auto; /* Adjust the height to auto to accommodate varying content */
    perspective: 1000px;
    display: inline-block;
    margin: 20px;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flip-card-front {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.flip-card-back {
    background-color: #7596bd;
    transform: rotateY(180deg);
    border-radius: 10px;
}

/* Ensure the image in both sides is centered and has the same dimensions */
.flip-card img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/* Center text vertically */
.flip-card-back h2,
.flip-card-back p {
    margin: 0;
}

   </style>
   </head>
   <!-- body -->
   <body class="main-layout inner_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#"/></div>
      </div>
      <!-- end loader -->
      <div class="full_bg">
         <!-- header -->
         <header class="header-area">
            <div class="container-fluid">
               <div class="row d_flex">
                  <div class=" col-md-2 col-sm-3">
                     <div class="logo">
                        <a href="/">SNASS</a>
                     </div>
                  </div>
                  <div class="col-md-8 col-sm-9">
                     <div class="navbar-area">
                        <nav class="site-navbar">
                           <ul>
                              <li><a href="/">Home</a></li>
                              <li><a href="/about">About</a></li>
                              <li class="dropdown">
                                 <a href="javascript:void(0)" class="dropbtn">Our Products</a>
                                 <div class="dropdown-content">
                                     <a href="/cropnutrition">Crop Nutrition</a>
                                     <a href="/cropprotection">Crop Protection</a>
                                     <a href="/seeds">Seeds</a>
                                     <a href="/hardware">Hardware</a>
                                 </div>
                             </li>
                              <li><a class="active" href="/contact">Contact</a></li>
                           </ul>
                           <button class="nav-toggler">
                           <span></span>
                           </button>
                        </nav>
                     </div>
                  </div>
                  <div class="col-md-2 padd_0 d_none">
                     <ul class="email text_align_right">
                        <li><a href="/register">Register/Login</a>
                        </li>
                        <li><a href="Javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </header>
         <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="images/SAM!.jpg" alt="Samartha" width="300">
              </div>
              <div class="flip-card-back">
                <h2>Samartha Bedkyale</h2>
                <p>samarthabedkyale@gmail.com</p>
                <p>Mobile No: +91 9518342962</p>
              </div>
            </div>
          </div>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="images/BHASKAR.jpg" alt="Bhaskar" width="300">
              </div>
              <div class="flip-card-back">
                <h2>Bhaskar Kadam</h2>
                <p>joinbhaskarkp@gmail.com</p>
                <p>Mobile No: +91 9420085405</p>
              </div>
            </div>
          </div>
      <!--  footer -->
         <div class="footer">
            <div class="container">
               <div class="row">
                        <div class="col-lg-3 col-md-6">
                           <div class="hedingh3 text_align_left">
                              <h3> Explore</h3>
                              <ul class="menu_footer">
                                 <li><a href="/">Home</a></li>
                                 <li><a href="/about">About</a></li>
                                 <li><a href="#">Our Products</a></li>
                                 <li><a href="/contact">Contact us</a></li>
                              </ul>
                           </div>
                        </div>
                         <div class="col-lg-3 col-md-6">
                           <div class="hedingh3  flot_right text_align_left">
                              <h3>ContacT</h3>
                              <ul class="top_infomation">
                                 <li><i class="fa fa-phone" aria-hidden="true"></i>
                                    +91 9420085405<br>
                                    +91 9518342962
                                 <li><i class="fa fa-envelope" aria-hidden="true"></i>
                                    <a href="Javascript:void(0)">joinbhaskarkp@gmail.com</a><br>
                                    <a href="#">samarthabedkyale@gmail.com</a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
             
            <div class="copyright">
               <div class="container">
                  <div class="row d_flex">
                     <div class="col-md-8">
                        <p>© 2023 All Rights Reserved. Design by <a href="/"> SNASS </a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/owl.carousel.min.js"></script>
      <script src="js/bootstrap-datepicker.min.js"></script>
      <script src="js/custom.js"></script>
   </body>
</html>